<% if @pindata.any?  %>
<% @pindata.each_with_index do |pin, i| %>
<div id="indexlist">
<%= link_to "Show", pin %>

	
	<div class="company">
	  <b>Company:</b>
	  <p><%= pin.company %></p>
	</div>
	<div class="addrss">
	  <b>Address:</b>
	  <p><%= delaut(pin.geodatapin.formatted_address) %></p>
	</div>
	<div class="occupation">
	  <b>Occupation:</b>
	  <p><%= pin.occupation.name %></p>
	</div>
	<div class="employment">
	  <b>Employment:</b>
	  <p><%= pin.employment.name %></p>
	</div>
	<div class="education">
	  <b>Education:</b>
	  <p><%= pin.education %></p>
	</div>
	
</div>
<% end  %>
<% end %>
