<div id="pinshow">
	<%= link_to 'Edit', edit_pindata_path(@pindata) if user_signed_in?  %>
	<%= link_to 'Back', pindatas_path %>

<div class="company">
  <b>Company:</b>
  <p><%= @pindata.company %></p>
</div>
<div class="addrss">
  <b>Address:</b>
  <p><%= delaut(@pindata.geodatapin.formatted_address) %></p>
</div>
<div class="occupation">
  <b>Occupation:</b>
  <p><%= @pindata.occupation.name %></p>
</div>
<div class="employment">
  <b>Employment:</b>
  <p><%= @pindata.employment.name %></p>
</div>
<div class="education">
  <b>Education:</b>
  <p><%= @pindata.education %></p>
</div>
<div class="body">
  <b>Decription:</b>
  <%== nl2br(@pindata.body) %>
</div>

</div>