
<h2>Stats</h2>
<div class="tab">
	<ul id="tab-nav">
		<li class="current"><a href="#todo">Todo</a></li>
		<li ><a href="#debug">Debug</a></li>
		<li ><a href="#stats">Stats</a></li>
	</ul>
	<div id="tab-content">
		<div id="todo">
			
			<% getTodoList.each do |todo| %>
			
			<% id_todo = "todo_secure" if todo.defect  %>
			<% id_todo = "todo_fixed" if todo.finished  %>
			
			<p id="<%= id_todo %>">
				<%= todo.name %></p>
			    <%= link_to 'Show', todo %>
					<% if user_signed_in?  %>
			
			    <%= link_to 'Edit', edit_todo_path(todo) %>
			    <%= link_to 'Destroy', todo, :confirm => 'Are you sure?', :method => :delete %>
			<% end  %>
		
			<% end %>
			
			
			<!--
			
			<p id="todo_fixed">Col2 tabs</p>
			<p id="todo_infix">TODO list in DB</p>
			<p id="todo_infix">implement CAN CAN</p>
			<p id="todo_secure">implement Spinx search</p>
			<p id="todo_fixed">fix "sticky" footer</p>
			<p id="todo_fixed">fix nav css</p>
			<p>suche nach vollzeit</p>
			<p> halb zeit</p>
			<p> Branche</p>
			<p> oder Beruf</p>
			<p> auf Deutsch (l18n)</p>
			<p> Postleitzahl eingabe und radius in km</p>
			<p id="todo_fixed">fix debug_col in ie</p>
			<p id="todo_bug">Name cuted off if put in favorit</p>
			<p id="todo">COL_1 belong to User</p>
			<p id="todo">COL_3 belong to Pins</p>
			<p id="todo">COL_2 belong to Stats</p>
			
			-->
		</div>
		<div id="debug">
			<%= debug = debug(params) if Rails.env.development? %>
		</div>
		<div id="stats">
			in progress ...!
		</div>
	</div>
</div>
