
		<div id="searchlist">
		<%= form_tag pindatas_path, :method => 'get' do %>
		<%= text_field_tag :search_for ,'i look for...', :class=>"clear" %>
		<%#= text_field_tag :search_for ,params[:search_for], :class=>"searchlist" %>
		
		<%#= text_field_tag :search_were ,'Were I look for...',:class=>"clear" %>
		<%= submit_tag "search",:name => nil, :class=>"button" %>
		<% end %>
		</div>
		<div id="railsmsg">
			<p class="notice"><%= notice %></p>
		  <p class="alert"><%= alert %></p>			
		</div>

