


<div class="page_margins">
  <!-- start: skip link navigation -->
  <!-- end: skip link navigation -->
  <!-- start: skip link navigation -->
  <!-- end: skip link navigation -->
  <div class="page">

<%= render :partial =>"layouts/header" %>
<%= render :partial =>"layouts/nav" %>
<%= render :partial =>"layouts/teaser" %>	
<%= render :partial =>"layouts/main", :locals =>{ :col1=>col1, :col2=>col2} %>	
<%= render :partial =>"layouts/footer" %>	

  </div>
</div>
